footer{
    background-color: #303030;
    margin: 0 auto;
    margin-top: 3em;
    height: 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .social{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 1.5em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer .linkTo{
    cursor: pointer;
    margin: 0 5px;
    color: cornflowerblue;
}

footer .linkTo:hover{
    color:white;
}

footer p{
    color: gray;
    font-size: 10pt;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}